{% extends "base.html" %}
{% load solo_tags %}

{% block styles %}
<style>
.btn-xl {
    padding: 1.25rem 3rem;
    font-size: 3rem;
    border-radius: 0.5rem;
}
</style>
{% endblock %}

{% block content %}
    {% get_solo 'stsailes_narratives_app.HomePage' as home_page %}
    <div class="container pb-5">
        <div class="content-blocks-app my-5" data-content-blocks-json="{{ content_blocks_json|escape }}"></div>
        <div class="d-flex gap-3 justify-content-center">
            {% if home_page.first_button_map %}
                <a class="btn btn-primary btn-xl px-4 me-sm-3" href="{% url 'app' %}#/maps/{{ home_page.first_button_map.pk }}">{{ home_page.first_button_label }}</a>
            {% endif %}
            {% if home_page.second_button_map %}
                <a class="btn btn-outline-light btn-xl px-4" href="{% url 'app' %}#/maps/{{ home_page.second_button_map.pk }}">{{ home_page.second_button_label }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
