@font-face {
  font-family: 'First Nations Unicode';
  src: url('./FirstNationsUnicode.woff2') format('woff2'),
       url('./FirstNationsUnicode.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.first-nations-unicode {
  font-family: "First Nations Unicode" !important;
}
span.first-nations-unicode {
  display: inline-block !important;
  padding: 0 !important;
  margin: 0 !important;
}